<a href="https://colab.research.google.com/github/kalyan-81/machine-learning/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lecture 13: Dictionary
Unordered collection of items i.e. can't be indexed\
Other compound data types have only values as an element, whereas a dictionary has a KEY:VALUE pair\
Keys are unique, values may not be unique\
Values can be of any data type, but key must be immutable.

In [1]:
# initialization

d = {} #dict
k={1,2}# set

print(type(d))
print(type(k))

<class 'dict'>
<class 'set'>

In [2]:
d = {1:'abc', 2:'efg', 'name':'xyz'}

print(d)
print(type(d))

{1: 'abc', 2: 'efg', 'name': 'xyz'}
<class 'dict'>

In [3]:
# Accessing values

print(d[1])

print(d['name'])

abc
xyz

In [43]:
print(d[3])

KeyError: ignored

In [5]:
# # updating dictionary

print(d)

d['name'] = 'lmn'

d['age'] = 20

print(d)

{1: 'abc', 2: 'efg', 'name': 'xyz'}
{1: 'abc', 2: 'efg', 'name': 'lmn', 'age': 20}

In [6]:
# Deleting elements

del d['name']
print(d)

d.clear()
print(d)

{1: 'abc', 2: 'efg', 'age': 20}
{}

In [44]:
del d

print(d)

NameError: ignored

In [7]:
# # Key must immutable

d = {1:'abc', 2:'efg', ['name']:'xyz'}

print(d)

TypeError: ignored

In [8]:
# # Key must immutable

d = {1:'abc', 2:'efg', 'name':['xyz']}

print(d)

{1: 'abc', 2: 'efg', 'name': ['xyz']}

In [11]:

d = {1:'abc', 2:'efg', 'name':{'xyz':33,'kln':54,'ram':56}}

print(d)

{1: 'abc', 2: 'efg', 'name': {'xyz': 33, 'kln': 54, 'ram': 56}}

#dictionary methods

#1. clear()
Remove all elements from the dictionary

In [12]:
human={'name':'kalyan','age':24,"height in cm":162}
print(human)

human.clear()

print(human)

{'name': 'kalyan', 'age': 24, 'height in cm': 162}
{}

#2.copy() 
copy the human dictionary

In [14]:
human={'name':'kalyan','age':24,"height in cm":162}
print(human)
human2=human.copy()
print(human2)

{'name': 'kalyan', 'age': 24, 'height in cm': 162}
{'name': 'kalyan', 'age': 24, 'height in cm': 162}

#3. fromkeys()
Returns a dictionary with the specified keys and value

In [45]:
x = ('key1', 'key2', 'key3')
y = 0,2,3

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': (0, 2, 3), 'key2': (0, 2, 3), 'key3': (0, 2, 3)}

#4. get()
The get() method returns the value of the item with the specified key.

In [21]:
human={'name':'kalyan','age':24,"height in cm":162}
human.get('name')

'kalyan'

#5. items()
returns key,value pairs of dictionary as tuples in a list

In [23]:
human={'name':'kalyan','age':24,"height in cm":162}
human.items()

dict_items([('name', 'kalyan'), ('age', 24), ('height in cm', 162)])

#6.keys()
return keys of dictionary as a list

In [24]:
human.keys()

dict_keys(['name', 'age', 'height in cm'])

#7.pop()
Removes the element with the specified key

In [47]:
human={'name':'kalyan','age':24,"height in cm":162}
print(human.pop('age'))
print(human)

24
{'name': 'kalyan', 'height in cm': 162}

#8.popitem()	
Removes the last inserted key-value pair

In [29]:
human={'name':'kalyan','age':24,"height in cm":162}
print(human.popitem())
print(human)

('height in cm', 162)
{'name': 'kalyan', 'age': 24}

#9.setdefault()	
Returns the value of the specified key. 
If the key does not exist: insert the key, with the specified value

In [31]:
human={'name':'kalyan','age':24,"height in cm":162}
human.setdefault('name')

'kalyan'

In [50]:
human={'name':'kalyan','age':24,"height in cm":162}
human.setdefault("father",'ramaswamy')
print(human)

{'name': 'kalyan', 'age': 24, 'height in cm': 162, 'father': 'ramaswamy'}

#10. The update()
method inserts the specified items to the dictionary.\
The specified items can be a dictionary, or an iterable object with key value pairs.

In [39]:
human={'name':'kalyan','age':24,"height in cm":162}
human.update({'father':'ramswamy'})
print(human)

{'name': 'kalyan', 'age': 24, 'height in cm': 162, 'father': 'ramswamy'}

#11.values()	
Returns a list of all the values in the dictionary

In [42]:
human.values()

dict_values(['kalyan', 24, 162])