<a href="https://colab.research.google.com/github/kalyan-81/machine-learning/blob/main/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 2 : Python Programming Introduction

<b>Father of Python</b> - GUIDO VAN ROSSUM

# Where can we use Python?
1. Desktop Applications (Calculator, Notepad, etc..)
2. Web Applications (Youtube, Dropbox, Google, Instagram, Quora, Spotify)
3. Scientific and Numeric Computing (Scipy, Numpy)
4. Database Applications (Library Management Systems, Pharmaceutical)
5. Network Applications (Network Sniffer, Network Parameter extraction, Routing Algo's like OSPF)
6. Developing Games (Battlefield, Sims 4, PUBG)
7. Data Science (Pandas, Matplotlib, Seaborn, etc)
8. Machine Learning (scikit)
9. AI (AIMA - AI: A Modern Approach)
10. IOT (Raspberry pi, Phillips(works great with low level code in c++))

# Features of Python:
1. Simple and easy to learn
2. Free and open source.
3. General Purpose and high level programming language.
4. Platform independent.
5. Case Sensitive.
6. Interpreted Language.
7. Dynamically typed.
8. Rich Library.
9. We can write concise code using python.

In [ ]:
print("Hello")
print('Hello')
print("World")
print('world')

Hello
Hello
World
world

In [ ]:
a = 10
b = 20
print(a+b)

30

In [ ]:
a = 10
b = 8
print(a*b)

80

In [ ]:
a, b = 10, 20
print(a+b)

30

# Hello World

In [ ]:
print('Hello World')
print("Hello world")

Hello World
Hello world

In [ ]:
print("hello 'my' world")

hello 'my' world

# **Keywords:**
Keywords are reserved words in python.

keywords can't be used for identifiers.

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#how many keywords in python
import keyword
print(len(keyword.kwlist))

35

# Identifiers

Rules to define identifiers:
1. Allowed characters => Alphabets, Digits and Underscore Symbol
2. Identifier should never start with a digit
3. Case Sensitive.
4. No length limit.
5. Can't use reserved words for identifier.
6. identifiers should not include special characters.($, @, ! .etc)

In [ ]:
# valid identifiers
abc123 = 10
print(abc123)
Abc123 = 20
print(Abc123)
abc_123=45
print(abc_123)
_12C=30
print(_12C)

print(id(abc123))
print(id(Abc123))

10
20
45
30
94666994252576
94666994252896

In [ ]:
abc=10
abc=20
print(abc)

20

In [ ]:
# Invalid Identifiers
#2abc=10
#@abc=20
# acd=67
#ac-12=56

SyntaxError: ignored

In [ ]:
# d = 10;

# print(d);

# print(id(d));

# print(type(d))

# Lecture 4: Data Types

As we know that python is Dynamically typed programming language, than why do we need to learn about data type at all?

Although python automatically understands the data type, but it is important to know about data types so that we can utilize the power of data structures in future.

Basic Data Types available in python are:
<pre>
    <b>Numeric</b> - int, float, complex (Immutable)
    <b>Boolean</b> - bool (True/False)
    <b>Strings</b> (Immutable)
    <b>List</b> (Mutable, mostly used to store homogeneous data types)
    <b>Tuple</b> (Immutable, faster compared to List)
    <b>Set</b> (Unordered collection of items, mutable, removes duplicates)
    <b>Dictionary</b> (Unordered collection of Key-Value Pairs, Mutable, Keys are Unique - values may not be unique)
</pre>

### Numeric Datatypes -> int, float, complex

We can use the **type()** function to know which class a variable or a value belongs to and the **isinstance()** function to check if an object belongs to a particular class.

In [ ]:
a = 5

b = 5.0

c = 5 + 3j

print(type(a))

print(type(b))

print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
f = 12E4

# # f = 1.23e34 and f = 1.23e+34 are equivalent

print(f)

print(type(f))

120000.0
<class 'float'>

In [ ]:
c = 10+20j

print(type(c))

print(c + 5)

print(isinstance(c, complex))

print(c.real)

print(c.imag)

<class 'complex'>
(15+20j)
True
10.0
20.0

# Boolean data types
* True
* False

In [ ]:
a = True

print(type(a))

<class 'bool'>

In [ ]:
a=False
print(type(a))

<class 'bool'>

In [ ]:
a = 10.6e-2
b = False

print(type(a))
print(type(b))

<class 'float'>
<class 'bool'>

# string data type

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

Strings can be indexed - often synonymously called subscripted as well.

Similar to C, the first character of a string has the index 0.

We can use single quotes or double quotes to represent strings.

Multi-line strings can be denoted using triple quotes, ''' or """.

strings are immutable, meaning, value of elements of a list can't be altered.

In [ ]:
channel= "This is master python"
print(channel)

This is master python

In [ ]:
channel= 'This is master python'
print(channel)
print(type(channel))

This is master python
<class 'str'>

In [ ]:
print(channel[6])

s

In [ ]:
print(channel.index('m'))

8

In [ ]:
channel[0]='t'
print(channel)

TypeError: ignored

#List data type
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

Lists are mutable, meaning, value of elements of a list can be altered.

In [ ]:
a = [10, 40.5, "Hello",1]
print(a[1])

40.5

In [ ]:
a[1]='Hi'
print(a)

[10, 'Hi', 'Hello', 1]

# Tuple data type
Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

Declaring a tuple is , Items separated by commas are enclosed within brackets **( )**.

In [ ]:
t = (1, 1.5, "ML")
print(t)
print(type(t))

(1, 1.5, 'ML')
<class 'tuple'>

In [ ]:
print(t[1]) #extract particular element

1.5

In [ ]:
t[1]=5  #tuples are immutable
print(t)

TypeError: ignored

#Set data type
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. 
Items in a set are not ordered and immutable.

In [ ]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [ ]:
print(type(a))

<class 'set'>

In [ ]:
#automatically set won't consider duplicate elements
s = {10, 20, 20, 30, 30, 30}
print(s)

{10, 20, 30}

In [ ]:
print(s[1])

TypeError: ignored

# Dictionary data type
Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces **{}** with each item being a pair in the form **key:value**.

 Key and value can be of any type.

 key's are immutable but values are mutable.

In [ ]:
d = {'a': "apple", 'b': "bat", 'c': 'cat',3:100,4:'master'}
print(d[3])

100

In [ ]:
d['a']='APPLE'
print(d)

{'a': 'APPLE', 'b': 'bat', 'c': 'cat', 3: 100, 4: 'master'}

#Type casting
Conversion between Data types

We can convert between different data types by using different type conversion functions like **int()**, **float()**, **str()**, **list()**, **tuple()** etc.

In [ ]:
float(5)     #convert interger to float using float() method

5.0

In [ ]:
int(100.5)   #convert float to integer using int() method

100

In [ ]:
#Conversion to and from string must contain compatible values.
int("two")

ValueError: ignored

In [ ]:
int('10')

10

In [ ]:
complex(2)

(2+0j)

In [ ]:
int(1+2j)

TypeError: ignored

We can convert one sequence to other

In [ ]:
a = [1, 2, 3]
print(a)
print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method
print(s)
print(type(s))      #now type of s is set

t=tuple(a)
print(t)
print(type(t))

[1, 2, 3]
<class 'list'>
{1, 2, 3}
<class 'set'>
(1, 2, 3)
<class 'tuple'>

In [ ]:
dict(a)

TypeError: ignored

In [ ]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']

In [ ]:
tuple("Hello")

('H', 'e', 'l', 'l', 'o')

In [ ]:
END

#Lecture 5: Comments, input & output in Python
**comments:**
Comments are lines that exist in computer programs that are ignored by compilers and interpreters.

Including comments in programs makes code more readable for humans as it provides some information or explanation about what each part of a program is doing.

In general, it is a good idea to write comments while you are writing or updating a program as it is easy to forget your thought process later on, and comments written later may be less useful in the long term.

In [6]:
#This is a single line comment

'''
this is a 
multiline comment - 1
'''

"""
this is a
multiline comment - 2
"""
print("master python")

master python

# Input & Output

if we want to take the input from the user. In Python, we have the **input()** function to allow this.

We use the **print()** function to output data to the standard output device

In [9]:
b=input()
print(b)
print(type(b))

8125364509
8125364509
<class 'str'>

In [10]:
a = input("Enter a number: ")

print(a)

Enter a number: 123467789
123467789

In [12]:
# WAP to get two numbers from user and add them

a = input("a = ")
a=int(a)

b = input("b = ")
b=int(b)

print(a + b)

a = 6
b = 5
11

In [13]:
a=int(input('a= '))
b=int(input('b='))
print(a+b)

a= 5
b=6
11

In [17]:
a = float(input('enter numeric: '))
print(a)
print(type(a))

enter numeric: 56
56.0
<class 'float'>

In [19]:
"""
num = input()
print(num)
"""

# this is a comment

num = int(input("Enter a number: "))

print(num)

print('%f' % num)
print(float(num))

print('{}'.format(num))

Enter a number: 45
45
45.000000
45.0
45

In [20]:

num = int(input('Please enter a number: '))

print('User has entered %d. Thankyou' % num)

Please enter a number: 67543
User has entered 67543. Thankyou

In [23]:
name,age=input('please enter name,age : ').split('*')
print(type(name))

please enter name,age : kalyan*24
<class 'str'>

In [24]:
print(name)
print(age)

kalyan
24

In [28]:
a,b,c,d,e=input("please enter 5 values with @ separator:").split('@')
print(a)
print(b)
#print(c)
print(type(a))

please enter 5 values with @ separator:1@2@3@4@5

ValueError: ignored

In [33]:
a = 5

b = 6

c = 'string'

print(a, b, c)

print('%d %d %s' % (a, b, c))

print('{} {} {}'.format(a, b, c))

print('{0} {1} {2}'.format(a, b, c))

print('{age} {value} {roomno}'.format(age=a,roomno=b,value=c))

print('{2} {4} {6}'.format(a, b, c))

# c a b

5 6 string
5 6 string
5 6 string
5 6 string
5 string 6

IndexError: ignored

In [45]:
# This entire statement won't be displayed

print('54'*6)

print(5,6,7) # sep = ' ', end = '\n'

print('Python', 1, 2)

print(1,2,3, sep='!')

print(1,2,3, sep=',', end='!!\ ')

print(123)

545454545454
5 6 7
Python 1 2
1!2!3
1,2,3!!\ 123

In [44]:
print("kalyan",end='\t')
print('master',end='\t')
print('python')

kalyan	master	python

In [47]:
print('this line won't get displayed')

SyntaxError: ignored

In [48]:
print('this line won\'t get displayed')

this line won't get displayed

In [ ]:
print("this line won't get displayed");

this line won't get displayed

In [ ]:
print("this line won"t get displayed");

SyntaxError: invalid syntax (<ipython-input-25-67ebf0acd0f1>, line 1)

In [ ]:
print('this line won"t get displayed');

this line won"t get displayed

In [ ]:
print("Ankit said \"hi, what's up?\"")

Ankit said "hi, what's up?"

In [ ]:
print('this line won\'t get displayed')

this line won't get displayed

In [ ]:
print('Ram says "hi"')

Ram says "hi"

In [ ]:
print('this is\na multi \tline \nstatement')

this is
a multi 	line
statement

In [ ]:
print('''Ram said 'this line
won't get 
displayed' ''')

Ram said 'this line
won't get
displayed'

In [ ]:
END

#Lecture 3: Operators in Python

Operator is a symbol that perform certain operation.

Operators available in python are:

1. Arithmatic (+, -, * , /, %, //, **)
2. Relational (>, >=, <, <=)
3. Equality (==, !=)
4. Logical (and, or, not)
5. Bitwise (&, |, ^, ~, <<, >>)
6. Assignment (=, +=, -=, *=, /=, etc..)
7. Ternary
8. Identity --> is, is not (used for address comparision)
9. Membership --> in, not in

In [ ]:
# Arithmatic Operators

a = 10
b = 4
print('a+b = ', a+b)
print('a-b = ', a-b)
print('a*b = ', a*b)
print('a/b = ', a/b)
print('a%b = ', a%b)
print('a//b = ', a//b)
print('a**b = ', a**b)

a+b =  14
a-b =  6
a*b =  40
a/b =  2.5
a%b =  2
a//b =  2
a**b =  10000

In [ ]:
# Relational Operators

a = 10;
b = 6;
print('a<b = ', a<b);
print('a<=b = ', a<=b);
print('a>b = ', a>b);
print('a>=b = ', a>=b);

a<b =  False
a<=b =  False
a>b =  True
a>=b =  True

In [ ]:
# Equality Operators

a = 10;
b = 6;
print('a==b ', a==b);
print('a!=b ', a!=b);

a==b  False
a!=b  True

In [ ]:
# Logical Operators

print(5 < 6 and 6 < 6)

print(5 < 6 or 6 < 6)

print(not(5 < 6 and 6 < 6))

False
True
True

In [ ]:
print(3 and 6)

print(0 and 3)
print(3 and 0)
print(3 or 6)
print(0 or 3)
print(3 or 0)
print(not(3))
print(not(0))

6
0
0
3
3
3
False
True

In [ ]:
# Bitwise
# & -> if both bits are 1 then 1 otherwise 0
# | -> if both bits are 0 then 0 otherwise 1
# ^ -> if both bits are different then 1 otherwise 0
# ~ -> bitwise complement

print(5 & 10)

print(5 | 10)

print(5 ^ 10)

print(~5)

0
15
15
-6

In [ ]:
# Shift Operators

print(10 << 3);

print(10 >> 3);

80
1

In [ ]:
# Assignment Operators

x = 10;

x += 10;

print(x);

In [ ]:
# Ternary

x = 5 if (5 < 6) else 6

y = 5 if (5 > 6) else 6

print(x, y)

5 6

In [ ]:
#Identity operators
a=20
b=20
c=10
print(a is b)
print(a is c)
print(id(a))
print(id(b))
print(id(c))

True
False
94666994252896
94666994252896
94666994252576

In [ ]:
a=20
b=10
c=20
print(a is not b)
print(a is not c)
print(id(a))
print(id(b))
print(id(c))

True
False
94666994252896
94666994252576
94666994252896

In [ ]:
#membership operators
k="this is master python"
print('this' in k)
print('python'  not in k)

True
False

# Handson

In [ ]:
# Swap two numbers

# Swap two numbers without using third number

# Extract ith bit of a number

# Given three numbers, one of them is different. Find the different number

In [ ]:
# Swap two numbers
a = 10

b = 20

temp = a

a = b

b = temp

print(a, b)

20 10

In [ ]:
# Swap two numbers without using third number
a = 10

b = 20 

a = a + b

b = a - b

a = a - b

print(a, b)

20 10

In [ ]:
# Swap two numbers without using third number
a = 10

b = 20

a = a ^ b

b = a ^ b

a = a ^ b

print(a, b)

20 10

In [ ]:
# Swap two numbers without using third number
a = 10

b = 20

a, b = b, a

print(a, b)

20 10

In [ ]:
# Extract ith bit of a number
num = int(input("num = "))

i = int(input('i = '))

mag_num = 1 << i

bit = 1 if(num & mag_num > 0) else 0

print(bit)

num = 12
i = 4
0

In [ ]:
# Given three numbers, one of them is different. Find the different number
a = 5

b = 6

c = 6

print(a ^ b ^ c)

5