<a href="https://colab.research.google.com/github/kalyan-81/machine-learning/blob/main/lists_%26_list_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lecture 10: Lists and list methods

#List

Sequence Data Structure.\
Used to store collection of items.\
Order is preserved in a list\
Mutable\
Indexing and slicing

In [ ]:
# Initialization

l = []

print(type(l))

<class 'list'>

In [ ]:
fruits= ['apple', 'grapes', 'pine apple', 'banana', 'mango',1,2,1+3j,9.0,(1,2),[1,87],{78:"ka"}]

print(fruits)

print(type(fruits))

print(len(fruits))

['apple', 'grapes', 'pine apple', 'banana', 'mango', 1, 2, (1+3j), 9.0, (1, 2), [1, 87], {78: 'ka'}]
<class 'list'>
12

In [ ]:
#accessing individual elements
fruits= ['apple', 'grapes', 'pine apple', 'banana', 'mango']

print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])
print(fruits[-1])
print(fruits[-2])
print(fruits[-3])
print(fruits[-4])
print(fruits[-5])

apple
grapes
pine apple
banana
mango
mango
banana
pine apple
grapes
apple

In [ ]:
print(fruits[6])

IndexError: ignored

In [ ]:
fruits1= ['apple', 'grapes', 'pine apple', 'banana', 'mango']
fruits2= ['apple', 'grapes', 'pine apple', 'banana', 'mango']
print(id(fruits1))
print(id(fruits2))

140110422037840
140110422764192

In [ ]:
fruits1[0]='mango'
print(fruits1)
print(fruits2)

['mango', 'grapes', 'pine apple', 'banana', 'mango']
['apple', 'grapes', 'pine apple', 'banana', 'mango']

In [ ]:
fruits3=fruits2
print(fruits2)
print(fruits3)
print(id(fruits3))
print(id(fruits2))

fruits3[0]='sapota'

print(fruits3)
print(fruits2)

['apple', 'grapes', 'pine apple', 'banana', 'mango']
['apple', 'grapes', 'pine apple', 'banana', 'mango']
140110422764192
140110422764192
['sapota', 'grapes', 'pine apple', 'banana', 'mango']
['sapota', 'grapes', 'pine apple', 'banana', 'mango']

#Shallow Copy & Deep Copy

In [ ]:
# copying

lst_1 = [1, 2, 3, 4]

lst_2 = lst_1.copy()

# If we perform any change in lst_2, would that change be reflected in lst_1?

lst_2[2] = 'Now'
lst_1[0]='haha'

print(lst_1)

print(lst_2)

print(id(lst_1))
print(id(lst_2))

# '=' aliasing

# copy() cloning

['haha', 2, 3, 4]
[1, 2, 'Now', 4]
140293228323696
140293228304176

In [ ]:
#shallow copy
'''A shallow copy constructs a new compound object and then (to the extent possible)
 inserts references into it to the objects found in the original.'''
import copy as c

lst_1 = [1, 2, [3, 4], 5]

lst_2 = c.copy(lst_1)

#lst_1[1]= 'Now'

lst_2[2][0] = 'haha'

print(lst_1)
print(id(lst_1))

print(lst_2)
print(id(lst_2))

[1, 2, ['haha', 4], 5]
140293227943328
[1, 2, ['haha', 4], 5]
140293228136160

In [ ]:
import copy as c
'''A deep copy constructs a new compound object and then, recursively,
 inserts copies into it of the objects found in the original. '''
lst_1 = [1, 2, [3, 4], 5]

lst_2 = c.deepcopy(lst_1)

#lst_2[2][0]= 'Now'
#lst_1[1]='HEY'

print(lst_1)
print(id(lst_1))

print(lst_2)
print(id(lst_2))

[1, 'HEY', [3, 4], 5]
140293227981792
[1, 2, [3, 4], 5]
140293227944448

In [ ]:
lst_1 = [1,2,[3,4],5]

lst_2 = lst_1.copy()

lst_1[2][0] = 'Now'
lst_2[0]='haha'

print(lst_1)
print(lst_2)

[1, 2, ['Now', 4], 5]
['haha', 2, ['Now', 4], 5]

#List is MUTABLE

In [ ]:
lst = [1,2,3,4]
print(lst)
print(id(lst))
lst1 = [1,2,3,4]
lst[0]=5
print(lst1)
print(id(lst1))
print(lst)

[1, 2, 3, 4]
140223563639456
[1, 2, 3, 4]
140223563637456
[5, 2, 3, 4]

In [ ]:
#compare id of strings
k="kalyan"
k1='kalyan'
print(id(k))
print(id(k1))
x=k1.replace('k','c')
print(k)
print(k1)
print(x)

140110421993008
140110421993008
kalyan
kalyan
calyan

In [ ]:
lst_one = ['one', 'two', 'three']
lst_two = ['four', 'five']

# append(), +
print(lst_one)
print(lst_two)
print(id(lst_one))
lst_one.append(lst_two)

print(lst_one)
print(id(lst_one))

['one', 'two', 'three']
['four', 'five']
140223622349680
['one', 'two', 'three', ['four', 'five']]
140223622349680

In [ ]:
lst_one = ['one', 'two', 'three',1,2,3,4,5.6,(1,2,4),[1,3,4]]
lst_two = ['four', 'five']
print(lst_one + lst_two)

['one', 'two', 'three', 1, 2, 3, 4, 5.6, (1, 2, 4), [1, 3, 4], 'four', 'five']

In [ ]:
#slicing operation on lists
print(lst_one[2:6])

['three', 1, 2, 3]

In [ ]:
#reverse the list using indexing
print(lst_one[::-2])

[[1, 3, 4], 5.6, 3, 1, 'two']

#list methods

In [ ]:
list1=[1,2,3,'kalyan','master python',4,5,6,7]

#1.  list.append()

In [ ]:
list1.append(10)
print(list1)

[1, 2, 3, 'kalyan', 'master python', 4, 5, 6, 7, 10]

In [ ]:
list1.append([11,12,13])
print(list1)

[1, 2, 3, 'kalyan', 'master python', 4, 5, 6, 7, 10, [11, 12, 13]]

In [ ]:
list1[-1][-1]

13

#2.index(element)

In [ ]:
lst1=[1,2,3,4,5]
print(lst1.index(4))

3

#3.list.remove(element)

In [ ]:
lst2=[1,2,3,4,5,6]
lst2.remove(5)
print(lst2)

[1, 2, 3, 4, 6]

#4. list.sort()

In [ ]:
list3=[1,2,6,4,5,8]
list3.sort()
print(list3)

[1, 2, 4, 5, 6, 8]

#5. sorted(list)

In [ ]:
list4=[1,3,5,4,2,4,6,4]
print(sorted(list4))
print(list4)

[1, 2, 3, 4, 4, 4, 5, 6]
[1, 3, 5, 4, 2, 4, 6, 4]

# 6. list.reverse()

In [ ]:
lst5=[1,2,3,4,5]
lst5.reverse()
print(lst5)

[5, 4, 3, 2, 1]

#7. list.pop(index)

In [ ]:
lst6=['kalyan',1,2,'kali',5.0,[1,'hi',5]]
lst6.pop(4)
print(lst6)

['kalyan', 1, 2, 'kali', [1, 'hi', 5]]

#8. list.count(element)

In [ ]:
lst5=[1,2,3,3,3,2,3,3,2,2,33,1,2,3]
lst5.count(3)

6

#9 list.copy()

In [ ]:
list1=[1,2,3,4]
list2=list1.copy()
print(list1)
print(list2)
list2[0]=0
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[0, 2, 3, 4]

#10. List.insert(index,element)

In [ ]:
list1=[1,2,3,5]
list1.insert(0,2)
list1

[2, 1, 2, 3, 5]

In [ ]:
list1=[1,2,3,5]
list1.insert(1100000,2)
list1

[1, 2, 3, 5, 2]