<a href="https://colab.research.google.com/github/kalyan-81/machine-learning/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#L 12: Sets

#Set
Unordered collection of items i.e. they can't be indexed\
No duplicates allowed\
Mutable\
Used to perform mathematical operations like Union, intersection, etc..
#frozenset
immutable

In [11]:
# initialization

s = set()

print(type(s))

<class 'set'>

In [10]:
s = set([1, 4, 8, 0])

print(s)

print(type(s))

{8, 1, 4, 0}
<class 'set'>

In [9]:
# # Try

s = {}

print(type(s))

<class 'dict'>

In [13]:
s = {1, 2, 3}

print(s)

print(type(s))

{1, 2, 3}
<class 'set'>

In [7]:
# # Duplicates

s = {1, 2, 3, 1, 2}

print(s)

{1, 2, 3}

In [6]:
# # try index

s = {1, 2, 3}

print(s[1])

TypeError: ignored

In [5]:
# Set Operations

set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)

print(set1.union(set2))

print(set1 & set2)

print(set1.intersection(set2))

print(set1 - set2)

print(set1.difference(set2))

print(set1 ^ set2)

print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [4]:
#frozen set
set1 = frozenset((1, 2, 3))
set2 = frozenset((3, 4, 5))

print(set1 | set2)

print(set1.union(set2))

print(set1 & set2)

print(set1.intersection(set2))

print(set1 - set2)

print(set1.difference(set2))

print(set1 ^ set2)

print(set1.symmetric_difference(set2))

frozenset({1, 2, 3, 4, 5})
frozenset({1, 2, 3, 4, 5})
frozenset({3})
frozenset({3})
frozenset({1, 2})
frozenset({1, 2})
frozenset({1, 2, 4, 5})
frozenset({1, 2, 4, 5})

# set methods

#1.add()
Adds an element to the set\
If the element already exists, the add() method does not add the element.

In [14]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'banana', 'apple', 'orange', 'cherry'}

In [30]:
fruits1=frozenset(fruits)
fruits1.add('mango')
print(fruits1)

AttributeError: ignored

#2.clear()
The clear() method removes all elements in a set.

In [32]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)
type(fruits)

set()

set

#3.copy()
The copy() method copies the set.

In [36]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)
x.add('mango')
print(x)
print(fruits)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'mango', 'cherry'}
{'banana', 'apple', 'cherry'}

#4.difference()
The difference() method returns a set that contains the difference between two sets.

Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [37]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)
print(x)

{'banana', 'cherry'}
{'banana', 'apple', 'cherry'}

#5.difference_update()
The difference_update() method removes the items that exist in both sets.

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

In [19]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

#6.discard()
The discard() method removes the specified item from the set.

This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [41]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

#7.intersection()
The intersection() method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

#8.intersection_update()
The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).

The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

In [42]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)
print(y)

{'apple'}
{'apple', 'microsoft', 'google'}

#9.isdisjoint()
The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [43]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

#10.issubset()
The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

In [24]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

#11.issuperset()
The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [23]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

#12.pop()
The pop() method removes a random item from the set.

This method returns the removed item.

In [44]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)
print(fruits)

banana
{'apple', 'cherry'}

#13.remove()
The remove() method removes the specified element from the set.

This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [26]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

#14.symmetric_difference() 
The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets.

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'cherry', 'google'}

#15.symmetric_difference_update()
The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

In [28]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'banana', 'cherry', 'google'}

#16.union()
The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

You can specify as many sets you want, separated by commas.

It does not have to be a set, it can be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

In [45]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'apple', 'microsoft', 'banana', 'cherry', 'google'}

In [48]:
x = {"apple", "banana", "cherry"}
y = ["google", "microsoft", "apple"]

z = x.union(y)

print(z)

{'microsoft', 'banana', 'apple', 'cherry', 'google'}

In [49]:
x = {"apple", "banana", "cherry"}
y = ["google", "microsoft", "apple"]
z=('kalyan','master')

z = x.union(y,z)

print(z)

{'microsoft', 'kalyan', 'banana', 'apple', 'cherry', 'master', 'google'}

#17.update()
The update() method updates the current set, by adding items from another set (or any other iterable).

If an item is present in both sets, only one appearance of this item will be present in the updated set.

In [29]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'apple', 'microsoft', 'banana', 'cherry', 'google'}

In [52]:
x = {"apple", "banana", "cherry"}
y = ["google", "microsoft", "apple"]

x.update(y)

print(x)

{'microsoft', 'banana', 'apple', 'cherry', 'google'}