<a href="https://colab.research.google.com/github/kalyan-81/machine-learning/blob/main/strings_%26_string_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture 9:  strings and string methods**
what are the strings?.

strings are nothing but sequence of characters(alphabets,numbers,special characters)

string are represented in single quote or double quotes.

mulitline line strings are representd in ' ' '  or " " "

In [ ]:
#display a string using print() function
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
#assign String to a variable
a='Hello welcome'
print(a)

Hello welcome

In [ ]:
#multiline string using double quotes
a="""twinkle twinkle
        little star
how i wonder what you are"""
print(a)

twinkle twinkle
        little star
how i wonder what you are

In [ ]:
# multiline string using single quotes
b='''twinkle twinkle
little star
how i wonder what you are'''
a=20
print(a)
print(b)

20
twinkle twinkle
little star
how i wonder what you are

In [ ]:
#print the This is 'my' 9th lecture

print("This is 'my' 9th lecture")

This is 'my' 9th lecture

In [ ]:
##print the This is "my" 9th lecture

print('This is "my" 9th lecture')

This is "my" 9th lecture

In [ ]:
##print the This is "my" 9th lecture

print('This is \'my\' 9th lecture')

This is 'my' 9th lecture

In [ ]:
# string are arrays
b="Hello, world"
print(b[5])
print(b[9])
print(b[6])

,
r

In [ ]:
#to know the index of string 
b="Hello, world"
print(b.index(','))
print(b.index('w'))
print(b.index("ello"))
print(b.index("H"))

5
7
1
0

In [ ]:
#looping through a string
for i in "banana":
  print(i)

b
a
n
a
n
a

In [ ]:
a="banana"
for i in a:
  print(i)

b
a
n
a
n
a

In [ ]:
#strin length (size) using len()
a="Hello, World"
print(len(a))
print(len("hello"))

12
5

In [ ]:
#To check the string
txt="the best things in life are free"
print("esti" in txt)

False

In [ ]:
# To check the string using if else condition
txt="the best things in life are free"
if "best" in txt:
  print("Yes, this is present")
else:
  print("No, this is not present")

Yes, this is present

In [ ]:
#Slicing a string
b="Hello, World"
print(b[9])
print(b[0:5])

r
Hello

In [ ]:
#slice to the end of a string
b="Hello, World"
print(b[2:])

llo, World

In [ ]:
#slice from the start
b="Hello, World"
print(b[:5])

Hello

In [ ]:
#Negative Indexing
b="Hello,world"
print(b[3:-1])

lo,worl

In [ ]:
#example for step size
b="Hello,world"
print(len(b))
print(b[0:8:2])

11
Hlow

In [ ]:
#string reverse in python
b="Hello,world"
print(b[ : :])

Hello,world

# END CLASS

#lecture 9.1 **String methods**

1. **capitalize()**

Upper case the first letter in this string:

In [7]:
#Upper case the first letter
txt = "hello, and Welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [11]:
#The first character is converted to upper case, and the rest are converted to lower case:
txt = "hello, and welcome to MY WORLD."

x=txt.capitalize()

print (x)
print(txt)

Hello, and welcome to my world.
hello, and welcome to MY WORLD.

In [12]:
#See what happens if the first character is a number:

txt = "36 Is my age."

x = txt.capitalize()

print (x)

36 is my age.

2. **upper()**

The **upper()** method returns a string where all characters are in upper case.

 Symbols and Numbers are ignored.

In [ ]:
#Upper case the string:

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [ ]:
#Upper case the string numbers and symbols are ignored

txt = "Hello my friends_203"

x = txt.upper()

print(x)

HELLO MY FRIENDS_203

3.**casefold()**

The casefold() method returns a string where all the characters are lower case.

In [ ]:
#Make the string lower case:

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

4. **lower()**

The lower() method returns a string where all characters are lower case.

 Symbols and Numbers are ignored.

In [ ]:
#lower case the string:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

#5. **center()**

The center() method will center align the string, using a specified character (space is default) as the fill character.

In [13]:
#Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

txt = "banana"

x = txt.center(20)

print(x)
print(len(x))

       banana
20

In [4]:
#Using the letter "*" as the padding character:

txt = "banana"

x = txt.center(100, "*")

print(x)
len(x)

***********************************************banana***********************************************

100

In [14]:
txt='k'
x=txt.center(6,"@")
print(x)
print(len(x))

@@k@@@
6

#6. **count()**

The count() method returns the number of times a specified value appears in the string.

**Syntax**

string.count(value, start, end)

In [ ]:
#Return the number of times the value "apple" appears in the string:

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [19]:
#Search from index 7 to 24:

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 7, 19)

print(x)

1

#7. **endswith()**

The endswith() method returns True if the string ends with the specified value, otherwise False.

**Syntax**

string.endswith(value, start, end)

In [23]:
#Check if the string ends with a punctuation sign (.):

txt = "Hello, welcome to my world."

x = txt.endswith("word.")

print(x)

False

In [ ]:
#Check if the string ends with the phrase "my world.":

txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [24]:
#Check if position 5 to 11 ends with the phrase "my world.":

txt = "Hello, welcome to my world."

x = txt.endswith("c", 5, 10)

print(x)

False

#8.  **expandtabs()**

The expandtabs() method sets the tab size to the specified number of whitespaces.

**Syntax**


string.expandtabs(tabsize)

In [ ]:
print('H\te\tl\tl\to')

H	e	l	l	o

In [28]:
txt = 'H\te\tl\tl\to'
print(txt)
x=txt.expandtabs()
print(x)

H	e	l	l	o
H       e       l       l       o

In [32]:
#Set the tab size to 0 whitespaces:

txt = 'H\te\tl\tl\to'
print(txt)
x=txt.expandtabs(0)
print(x)

H	e	l	l	o
Hello

In [33]:
y =  txt.expandtabs(10)
print(y)

H         e         l         l         o

In [34]:
#See the result using different tab sizes:

txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs(1))
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H e l l o
H e l l o
H   e   l   l   o
H         e         l         l         o

#9. **index()**

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

**Syntax**

string.index(value, start, end)

In [ ]:
#Where in the text is the word "welcome"?:

txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [35]:
#Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.index("h")

print(x)

ValueError: ignored

In [36]:
#Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

#10.**find()**

The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

**Syntax**

string.find(value, start, end)

In [ ]:
#Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.find("e")
y=txt.index('e')
print(x)
print(y)

1
1

In [ ]:
#Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

**difference between index() and find()**

In [38]:
#If the value is not found, the find() method returns -1, but the index() method will raise an exception:

txt = "Hello, welcome to my world."
#print(txt.index("q"))
print(txt.find("q"))

ValueError: ignored

In [40]:
txt = "Hello, welcome to my world."
print(txt.index("welcome"))
print(txt.find("welcome"))

7
7

#11. **format() Method**

The **format()** method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The **format()** method returns the formatted string

**Syntax**

string.format(value1, value2...)

**The Placeholders**

The placeholders can be identified using named indexes {price}, numbered indexes {0}, or even empty placeholders {}.

In [41]:
#Using different placeholder values:

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {1}, I'm {0}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is 36, I'm John
My name is John, I'm 36

#12.  **Formatting Types**

Inside the placeholders you can add a formatting type to format the result:

In [ ]:
#insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [ ]:
#insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [ ]:
#insert the number 8 to set the available space for the value to 8 characters.

#default value aligns to right

txt = "We have {:8} chickens."
print(txt.format(49))

We have       49 chickens.

In [ ]:
#insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [ ]:
#insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [ ]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [42]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

txt = "The temperature is between {:-} and {:-} degrees celsius."

print(txt.format(-3, +7))

The temperature is between -3 and 7 degrees celsius.

In [43]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {: } degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [ ]:
#Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(5000000))

The universe is 5,000,000 years old.

In [ ]:
#Use "_" to add a underscore character as a thousand separator:

txt = "The universe is {:_} years old."

print(txt.format(5000000))

The universe is 5_000_000 years old.

In [ ]:
#Use "b" to convert the number into binary format:

txt = "The binary version of {0} is {0:b}"

print(txt.format(10))

The binary version of 10 is 1010

In [ ]:
#Use "o" to convert the number into octal format:

txt = "The binary version of {0} is {0:o}"

print(txt.format(10))

The binary version of 10 is 12

In [ ]:
#Use "x" to convert the number into hexa format:

txt = "The binary version of {0} is {0:x}"

print(txt.format(15))

The binary version of 15 is f

In [ ]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:

txt = "We have {:d} chickens."
print(txt.format(0b1010))

We have 10 chickens.

In [ ]:
#Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [ ]:
#Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(0.00005))

We have 5.000000e-05 chickens.

In [45]:
#Use "E" to convert a number into scientific number format (with an upper-case E):

txt = "We have {:.1E} chickens."
print(txt.format(500))

We have 5.0E+02 chickens.

In [46]:
#Use "f" to convert a number into a floating point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:

txt = "The price is {:.2f} dollars."
print(txt.format(45))

#without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."
print(txt.format(45))

txt = "The price is {:.3f} dollars."
print(txt.format(45))

txt = "The price is {:.2f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.
The price is 45.000 dollars.
The price is 45.00 dollars.

In [48]:
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:

x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

#same example, but with a lower case f:

txt = "The price is {:f} dollars."
print(txt.format(x))
print(type(x))

The price is INF dollars.
The price is inf dollars.
<class 'float'>

In [ ]:
#Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

In [ ]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

The Hexadecimal version of 255 is ff

In [ ]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

The Hexadecimal version of 255 is ff

In [ ]:
#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(255))

The Hexadecimal version of 255 is FF

In [50]:
#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))

#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

#13. **isalnum()** Method

The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Example of characters that are not alphanumeric: (space)!#%&? etc.

**Syntax**

string.isalnum()

In [ ]:
#Check if all the characters in the text are alphanumeric:

txt = "Company12"

x = txt.isalnum()

print(x)

True

In [ ]:
txt = "Comp12kdf484jkd"

x = txt.isalnum()

print(x)

True

In [ ]:
txt = "Company"

x = txt.isalnum()

print(x)

True

In [51]:
txt = "12"

x = txt.isalnum()

print(x)

False

In [52]:
txt = "12@"

x = txt.isalnum()

print(x)

False

#14.  **isalpha() Method**

The isalpha() method returns True if all the characters are alphabet letters (a-z).

Example of characters that are not alphabet letters: (space)!#%&? etc.

**Syntax**

string.isalpha()

In [ ]:
#Check if all the characters in the text is alphabetic:

txt = "Company10"

x = txt.isalpha()

print(x)

False

In [ ]:
#Check if all the characters in the text are letters:

txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [ ]:
txt = "123984"

x = txt.isalpha()

print(x)

False

#15.  **isascii()** Method

The **isascii()** method returns True if all the characters are ascii characters  (a-z).

**Syntax**

string.isascii()

In [ ]:
#Check if all the characters in the text are ascii characters:

txt = "Company123 !@"

x = txt.isascii()

print(x)

True

#16.**isdecimal()** Method

The **isdecimal()** method returns True if all the characters are decimals (0-9).
**Syntax**

string.isdecimal()

This method is used on unicode objects.

In [53]:
#Check if all the characters in the unicode are decimals:

a = "\u0039" #unicode for 9
b = "\u0047" #unicode for G
#unicode supports 1,000,000

print(a.isdecimal())
print(b.isdecimal())
print(a)
c=9
print(c.isdecimal())

True
False
9

AttributeError: ignored

#17.  **isdigit()** Method

The isdigit() method returns True if all the characters are digits, otherwise False.

Exponents, like ², are also considered to be a digit.

Syntax

string.isdigit()

In [ ]:
#Check if all the characters in the text are digits:

a = "0"
b = "A"

print(a.isdigit())
print(b.isdigit())

True
False

**isidentifier()** Method

The isidentifier() method returns True if the string is a valid identifier, otherwise False.

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

**Syntax**

string.isidentifier()

In [ ]:
#Check if the string is a valid identifier:

txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [ ]:
#Check if the strings are valid identifiers:

a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

#18.  **islower()** Method

The islower() method returns True if all the characters are in lower case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

# **Syntax**

string.islower()

In [ ]:
#Check if all the characters in the texts are in lower case:

a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

#19.  **isnumeric()** Method

The **isnumeric()** method returns True if all the characters are numeric (0-9), otherwise False.

Exponents, like ² and ¾ are also considered to be numeric values.

"-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the . are not.

**Syntax**

string.isnumeric()

In [ ]:
#Check if all the characters in the text are numeric:

txt = "565543"

x = txt.isnumeric()

print(x)

True

In [56]:
#Check if the characters are numeric:

a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())
print(b)
print(a.isdigit())

True
True
False
False
False
²
True

#20.  **isprintable()** Method

The **isprintable()** method returns True if all the characters are printable, otherwise False.

Example of none printable character can be carriage return and line feed.

**Syntax**

string.isprintable()

In [57]:
#Check if all the characters in the text are printable:

txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)
print(txt)

False
Hello!
Are you #1?

In [ ]:
#Check if all the characters in the text are printable:

txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)
print(txt)

True
Hello! Are you #1?

19 # **isspace() Method**

The **isspace()** method returns True if all the characters in a string are whitespaces, otherwise False.

**Syntax**

string.isspace()

In [ ]:
#Check if all the characters in the text are whitespaces:

txt = "        dgfgh  "

x = txt.isspace()

print(x)

False

In [ ]:
#Check if all the characters in the text are whitespaces:

txt = "   s   "

x = txt.isspace()

print(x)

False

In [58]:
txt = "      "

x = txt.isspace()

print(x)

True

#21.  **istitle() Method**

The **istitle()** method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

Symbols and numbers are ignored.

**Syntax**

string.istitle()

In [ ]:
#Check if each word start with an upper case letter:

txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [ ]:
#Check if each word start with an upper case letter:

a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

#22.  **isupper() Method**

Definition and Usage

The **isupper() ** method returns True if all the characters are in upper case, otherwise False.

Numbers, symbols and spaces are not checked, only alphabet characters.

**Syntax**

string.isupper()

In [ ]:
#Check if all the characters in the text are in upper case:

txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [ ]:
#Check if all the characters in the texts are in upper case:

a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

#23. **join() Method**

The join() method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

**Syntax**

string.join(iterable)

In [62]:
#Join all items in a tuple into a string, using a hash character as separator:

myTuple = ("John", "Peter", "Vicky")

x = "*".join(myTuple)

print(x)

John*Peter*Vicky

In [63]:
#Join all items in a dictionary into a string, using a the word "TEST" as separator:

myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

#24 **ljust() Method**

The ljust() method will left align the string, using a specified character (space is default) as the fill character.

**Syntax**

string.ljust(length, character)

In [65]:
#Using the letter "O" as the padding character:

txt = "banana"

x = txt.ljust(20, "O")

print(x)
print(len(x))

bananaOOOOOOOOOOOOOO
20

In [66]:
#Return a 20 characters long, left justified version of the word "banana":

txt = "banana"

x = txt.ljust(20)

print(x)
print(len(x))

banana
20

#25 **lstrip() Method**

The **lstrip()** method removes any leading characters (space is the default leading character to remove)

**Syntax**

string.lstrip(characters)

In [67]:
#Remove spaces to the left of the string:

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [69]:
#Remove the leading characters:

txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.aws")

print(x)

banana

#26 **maketrans() Method**

The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.

**Syntax**

string.maketrans(x, y, z)

Parameter	  Description

x	   Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.

y	   Optional. A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string.

z	  Optional. A string describing which characters to remove from the original string.

In [72]:
#Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

txt = "Hello SamS!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))
print(mytable)

Hello PamP!
{83: 80}

In [74]:
#Use a mapping table to replace many characters:

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))
print(mytable)

Hi Joe!
{109: 101, 83: 74, 97: 111}

In [75]:
#The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [76]:
#The maketrans() method itself returns a dictionary describing each replacement, in unicode:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(txt.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

#27 **partition() Method**

The **partition()** method searches for a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

**Syntax**

string.partition(value)

In [77]:
#Search for the word "bananas", and return a tuple with three elements:

#1 - everything before the "match"
#2 - the "match"
#3 - everything after the "match"

txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [78]:
#If the specified value is not found, the partition() method
# returns a tuple containing: 
#1 - the whole string, 
#2 - an empty string, 
#3 - an empty string:

txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

#28 **replace() Method**

The **replace()** method replaces a specified phrase with another specified phrase.

**Syntax**

string.replace(oldvalue, newvalue, count)

Parameter	Description

oldvalue	Required. The string to search for

newvalue	Required. The string to replace the old value with

count	Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [80]:
#Replace the word "bananas":

txt = "I like bananas"

x = txt.replace("I", "You")

print(x)

You like bananas

In [81]:
#Replace all occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [82]:
#Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

#29 **rfind() Method**

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex() method. See example below.

Syntax

string.rfind(value, start, end)

value	Required. The value to search for

start	Optional. Where to start the search. Default is 0

end	Optional. Where to end the search. Default is to the end of the string

In [85]:
#Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [86]:
#Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [87]:
#Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

In [88]:
#If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: ignored

#30 **rindex() Method**

he rindex() method finds the last occurrence of the specified value.

The rindex() method raises an exception if the value is not found.

The rindex() method is almost the same as the rfind() method. See example below.

Syntax
string.rindex(value, start, end)

In [89]:
#Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [90]:
#Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [91]:
#Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [92]:
#If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: ignored

#31 **rjust() Method**

The **rjust()** method will right align the string, using a specified character (space is default) as the fill character.

**Syntax**

string.rjust(length, character)

In [93]:
#Using the letter "O" as the padding character:

txt = "banana"

x = txt.rjust(20, "O")

print(x)
print(len(x))

OOOOOOOOOOOOOObanana
20

In [94]:
#Return a 20 characters long, right justified version of the word "banana":
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

#Note: In the result, there are actually 14 whitespaces to the left of the word banana.

              banana is my favorite fruit.

#32 **rpartition() Method**

The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

**Syntax**

string.rpartition(value)

In [95]:
#Search for the last occurrence of the word "bananas", and return a tuple with three elements:

#1 - everything before the "match"
#2 - the "match"
#3 - everything after the "match"

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [96]:
#If the specified value is not found, the rpartition() method returns a tuple containing: 1 - an empty string, 2 - an empty string, 3 - the whole string:

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

#33 **rsplit() Method**

The rsplit() method splits a string into a list, starting from the right.

If no "max" is specified, this method will return the same as the split() method.

Note: When maxsplit is specified, the list will contain the specified number of elements plus one.

**Syntax**

string.rsplit(separator, maxsplit)

In [99]:
#Split a string into a list, using comma, followed by a space (, ) as the separator:

txt = "apple, banana, cherry"

x = txt.rsplit(", ")
y=txt.split(", ")

print(x)
print(y)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [101]:
#Split the string into a list with maximum 2 items:

txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)
y=txt.split(",",1)

print(x)
print(y)

['apple, banana', 'cherry']
['apple', ' banana, cherry']

#34. **rstrip() Method**

The **rstrip()** method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

**Syntax**

string.rstrip(characters)

In [110]:
#Remove the trailing characters if they are commas, s, q, or w:

txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(".wqs,")

print(x)

banana

In [111]:
#Remove any white spaces at the end of the string:

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

#35. **split() Method**

The **split()** method splits a string into a list.

You can specify the separator, default separator is any whitespace.

**Note:** When maxsplit is specified, the list will contain the specified number of elements plus one.

**Syntax**

string.split(separator, maxsplit)

In [115]:
#Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(",")

print(x)

['hello', ' my name is Peter', ' I am 26 years old']

In [116]:
#Use a hash character as a separator:

txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [117]:
#Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [118]:
#Split a string into a list where each word is a list item:

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

#36 **splitlines() Method**

The **splitlines()** method splits a string into a list. The splitting is done at line breaks.

**Syntax**

string.splitlines(keeplinebreaks)

keeplinebreaks is	Optional. Specifies if the line breaks should be included (True), or not (False). Default value is False

In [120]:
#Split the string, but keep the line breaks:

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)
print(txt)

print(x)

Thank you for the music
Welcome to the jungle
['Thank you for the music\n', 'Welcome to the jungle']

In [121]:
#Split a string into a list where each line is a list item:

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

#37 **startswith() Method**

The startswith() method returns True if the string starts with the specified value, otherwise False.

**Syntax**

string.startswith(value, start, end)

In [123]:
#Check if the string starts with "Hello":

txt = "Hello, welcome to my world."

x = txt.startswith("hello")

print(x)

False

In [124]:
#Check if position 7 to 20 starts with the characters "wel":

txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

#38 **strip() Method**

The **strip()** method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

**Syntax**

string.strip(characters)

In [126]:
#Remove spaces at the beginning and at the end of the string:

txt = "     banana     "

x = txt.strip()

print(x)

banana

In [127]:
#Remove the leading and trailing characters:

txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

#39 **swapcase() Method**

The **swapcase()** method returns a string where all the upper case letters are lower case and vice versa.

**Syntax**

string.swapcase()

In [128]:
#Make the lower case letters upper case and the upper case letters lower case:

txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

#40 **title() Method**

The **title()** method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

**Syntax**

string.title()

In [129]:
#Make the first letter in each word upper case:

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [130]:
#Make the first letter in each word upper case:

txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [131]:
#Note that the first letter after a non-alphabet letter is converted into a upper case letter:

txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

#41 **translate() Method**

The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the maketrans() method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

If you use a dictionary, you must use ascii codes instead of characters.

**Syntax**

string.translate(table)

table	Required. Either a dictionary, or a mapping table describing how to perform the replace.

In [134]:
#Use a mapping table to replace "S" with "P":

txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(mytable)
print(txt.translate(mytable))

{83: 80}
Hello Pam!

In [136]:
#Use a mapping table to replace many characters:

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(mytable)
print(txt.translate(mytable))

{109: 101, 83: 74, 97: 111}
Hi Joe!

In [137]:
#The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [ ]:
#The same example as above, but using a dictionary instead of a mapping table:

txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

#42. **zfill() Method**

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

**Syntax**

string.zfill(len)

In [139]:
#Fill the strings with zeros until they are 10 characters long:

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))
print(len(b))

00000hello
welcome to the jungle
000010.000
21

In [140]:
#Fill the string with zeros until it is 10 characters long:

txt = "50"

x = txt.zfill(10)

print(x)

0000000050