<a href="https://colab.research.google.com/github/kalyan-81/machine-learning/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 11: Tuples
Similar to list but immutable.\
Sequence data type.\
Supports indexing and slicing.

In [ ]:
#initialization

t = ()

print(type(t))

In [ ]:
t = tuple()

print(type(t))

In [ ]:
t = (1,2,3)

print(t)

In [ ]:
t = (1, 'Python', 1.2, 'ThatAIGuy')

print(t)

In [ ]:
t = (1, (1, 2, 3), [1, 2, 3])

print(t)

In [3]:
t1 = (1)

print(type(t1))

t2 = ('ThatAIGuy')

print(type(t2))

<class 'int'>
<class 'str'>

In [4]:
t = 1,2

print(type(t))

t = 'ThatAIGuy',2

print(type(t))

<class 'tuple'>
<class 'tuple'>

In [5]:
# Accessing with index

t = (1, 2, 3)

print(t[-1])

# Slicing

print(t[1:3])

3
(2, 3)

In [6]:
# # # Tuples are Immutable

t = (1, 2, 3, (4, 5), [6, 7, 8])

t[2] = 'Hi'

TypeError: ignored

In [12]:
t = (1, 2, 3, 4, 5, 6, 7, 1, 2, 1, 7)

# # count(element)
print(t.count(1))

# # index(element)
print(t.index(7))

# # len()
print(len(t))

# # min()
print(min(t))

# # max()
print(max(t))

# # sum()
print(sum(t))

3
6
11
1
7
39

In [13]:
# # del the tuple
del t

print(t)

NameError: ignored